#show-doList {
  display: none;
}

#show-doneList {
  display: none;
}

.list {
  cursor: pointer;
  color: #0088cc;
}

.list:hover {
  text-decoration: underline;
}

.jumbotron {
  background-image: url("img/list.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

 h1 {
   text-shadow: rgb(89, 244, 66) 3px 3px;
 }

 ul
 {
 list-style-type: none;
 }
